.rightimg{
    width: 100%;
    height: 680px;
    
    .rightImgContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        gap: 0px;


        .leftContainer{
            display: flex;
            flex-direction: column;
            width: 50%;
            // align-items: center;
            justify-content: center;
            color: whitesmoke;
            background-color: #6F2323;
            gap: 30px;
            padding-left: 120px;
            text-align: start;

            .LeftTitle{
                font-size: 32px;
                font-weight: bold;
        
            }
            .LeftDesc{
                font-size: 18px;
                width: 500px;
            }
            .LeftImage{
                width: 225.2px;
                height: 20px;
        
            }

            .time-date{
                line-height: 25px;
            }

            .buttons{
                display: flex;
                flex-direction: row;
                gap: 20px;
                .exploremore1{
                    margin-top: 50px;
                    background-color: transparent;
                    border-radius: 46px;
                    color: whitesmoke;
    border: 2px solid var(--White, #FFF); 
    width: 120px;
    height: 46px;
                }
            }


            


        }
        .rightContainer{
            width: 1256px;
            height: 680px;
            .rightImgContainer{
                width: 100%;
                height: 100%;
            }
        }
    }
}


@media (min-width : 320px) and (max-width :760px){
    .rightimg{
        width: 100%;
        height: auto;
        
        .rightImgContainer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            gap: 0px;
    
    
            .leftContainer{
                display: flex;
                flex-direction: column;
                width: 50%;
                // align-items: center;
                justify-content: center;
                color: whitesmoke;
                background-color: #6F2323;
                gap: 20px;
                padding-left: 10px;
                padding-right: 10px;
                text-align: start;
    
                .LeftTitle{
                    font-size: 15px;
                    font-weight: bold;
            
                }
                .LeftDesc{
                    font-size: 12px;
                    width: 200px;
                }
                .LeftImage{
                    width: 125.2px;
                    height: 20px;
            
                }
    
                .time-date{
                    line-height: 25px;
                }
    
                .buttons{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    .exploremore1{
                        margin-top: 10px;
                    font-size: 7px;

                        background-color: transparent;
                        border-radius: 46px;
                        color: whitesmoke;
        border: 2px solid var(--White, #FFF); 
        width: 60px;
        height: 26px;
                    }
                }
    
    
                
    
    
            }
            .rightContainer{
                width: auto !important;
                height: 420px;

                .rightImgContainer{
                    width: 100%;
                    height: 420px !important;
                    object-fit:cover;

                }
            }
        }
    }
  
}