.abovebottomforkanya{
    width: 100%;
    padding-bottom: 30px;

    .boxesContainer5{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-bottom: 30px;
        padding-top: 50px;

        .boxContainer5{
            display: flex;
            // flex: 0.3;
            flex-direction: row;
            // margin-top: 20px;
            height: 430px;
            width: 548px;
            padding-bottom: 3px;
            background-color: white;
            // box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
            margin-left: 30px ;
            box-shadow: 0px 4px 4px 0px #0000001F;

   

            .top{

                
                width: 50%;
                height: 100%;
                // border-radius: 0px 0px 100px 0px; 
                

            

                .postImg{
                    width: 100%;
                    // clip-path: circle(78.5% at 32% 7%);
                    

                    height: 100%
                }

            };
            .bottom{
                width: 50%;
                max-height: 290px;
                height: 290px;
                padding-left: 20px;
                padding-right: 120px;
                display: flex;
                text-align: center;
                flex-direction: column;


                h4{
                    text-align: start;
                    font-size: 1.3rem;
                     padding-left: 12px;

                }

                
                // background-color: bisque;

                p{
                    text-align: justify;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: start;
                    
                    
                }


                .progressBarContainer{
                    padding-bottom: 40px;
                    .parent{
                        height: 30px;
                        width: 220px;
                        background-color: lightgray;
                    }
    
                    .child{
                        height: 30px;
                        background-color: #960808;
    
                        .progressText{
                            display: flex;
                            color: white;
                            padding-left: 20px;
                            align-items: center;
                            padding-top: 2px;
                        }
                    }
           
                }

                button{
                    width: 90px;
                    height: 35px;
                    border-radius: 15px;
                    border: none;
                    background-color: #960808;
                    color: white;
                }

                .button-knowmore{
                    width: 90px;
                    height: 35px;
                    border-radius: 15px;
                    border: none;
                    background-color: white;
                    color: #960808;
                    border: 1px solid #960808;;
                }

                

                

            }
  
        }


    }

   
}

@media (min-width : 320px) and (max-width :760px){
    .abovebottom{
        width: 100%;
        padding-bottom: 30px;
    
        .boxesContainer5{
            display: flex;
            flex-direction: column !important;
            align-items: center;
            justify-content: center;
            gap: 40px;
            padding: 10px 10px;
            padding-bottom: 30px;
            padding-top: 50px;
    
            .boxContainer5{
                display: flex;
                // flex: 0.3;
                flex-direction: row;
                // margin-top: 20px;
                height: 420px;
                width: 548px;
                padding-bottom: 3px;
                background-color: white;
                // box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
                margin-left: 30px ;
                box-shadow: 0px 4px 4px 0px #0000001F;
    
       
    
                .top{
    
                    
                    width: 50%;
                    height: 100%;
                    // border-radius: 0px 0px 100px 0px; 
                    
    
                
    
                    .postImg{
                        width: 100%;
                        // clip-path: circle(78.5% at 32% 7%);
                        
    
                        height: 100%
                    }
    
                };
                .bottom{
                    width: 50%;
                    max-height: 290px;
                    height: 290px;
                    padding-left: 20px;
                    padding-right: 120px;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
    
    
                    h4{
                        text-align: start;
                        font-size: 1.3rem;
                         padding-left: 12px;
    
                    }
    
                    
                    // background-color: bisque;
    
                    p{
                        text-align: justify;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                        text-align: start;
                        
                    }
    
                }
      
            }
    
    
        }
    
       
    }

}