.footer{
    width: 100%;
    height: 530px;
    padding: 0px 0px;
    flex-shrink: 0; 
    background-color: #392727;
    
    .footerContainer{
        display: flex;
        flex-direction: row;
        // align-items: center;
        justify-content: center;
        gap: 10px;

        .left{
            display: flex;
            gap : 10px;
            // flex: 0.5;
           

            .left-side{
                display: flex;
                flex-direction: column;
                // flex: 0.3;

                .leftsideContainer{
                    padding-left: 20px;
                    padding-top: 10px;
                    
                    
                    .quickLinks{
                        flex-direction: column;
                        display: flex;
                        align-items: center;
                        justify-content: center;


                        padding-top: 20px;
                        padding-left: 40px;

                        h3{
                            color: var(--White, #FFF);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 32px;
                        }

                       

                        .itemlist{
                            display: flex;
                            flex-direction: column;
                            text-align: start;

                            color: rgba(255, 255, 255, 0.80);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 257.143% */ 

                            &:hover{
                                color: beige;
                                cursor: pointer;
                            }

                        }
                    
                    }

                 
                }

            }
            .right-side{
                display: flex;
                flex-direction: column;
                // flex: 0.2;

                .rightsideContainer{
                    padding-left: 20px;
                    padding-top: 10px;
                    
                    
                    .quickLinks1{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding-top: 20px;
                        padding-left: 20px;

                        h3{
                            color: var(--White, #FFF);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 32px;
                        }

                     

                        .itemlist1{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            font-size: 14px;
                            color: rgba(255, 255, 255, 0.80);
                            text-align: start;
                            // margin-left: 50px;

                            width: 350px;
                            line-height: 36px;
                         

                           

                        }
                    
                    }

                  
                }
            }
        }
        .right{
            display: flex;
            gap: 10px;
            // flex: 0.5;
            
            .main{
                display: flex;
                flex-direction: row;
            
            .left-side{
                display: flex;
                flex-direction: column;
                
                // background-color: #b73c1d;

                .leftsideContainer{
                    padding-left: 20px;
                    padding-top: 10px;
                    
                    
                    .quickLinks2{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        padding-top: 20px;
                        padding-left: 40px;
                        // font-size: 0.9rem;

                        h3{
                            color: whitesmoke;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 32px;
                        }


                        h4{
                            margin-top: 10px;
                            color: whitesmoke;
                            font-size: 14px;
                            font-style: normal;
                            line-height: 2px;
font-weight: 400

                            
                        }

                        .add{
                            padding-top: 10px;
                            text-align: start;
                            color: rgba(255, 255, 255, 0.80);
font-size: 14px;
font-style: normal;
font-weight: 400;
                            line-height: 3px;
                        }

                        .contact{
                            padding-top: 15px;
                            font-size: 14px;
                            font-style: normal;
                            line-height: 2px;
                            font-weight: 400;
                            text-align: start;
                            color: whitesmoke;
                        }

                       

                        .itemlist{
                            display: flex;
                            flex-direction: column;
                            color: rgba(255, 255, 255, 0.80);
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 36px; /* 257.143% */ 

                            &:hover{
                                color: beige;
                                cursor: pointer;
                            }

                        }
                    
                    }

                    // .divider{
                    //     padding-top: 50px;
                    //     padding-left: 70px;
                    //     height: 285px;
                    //     width: 25px;
                    // }
                }
            }

            .right-side{
                display: flex;
                flex-direction: column;

                .rightsideContainer{
                    display: flex;
                    flex-direction: row;
                    padding-left: 20px;
                    padding-top: 10px;

                    .quickLinks3{
                        padding-top: 20px;
                        padding-left: 40px;

                        .icons{
                            display: flex;
                            flex-direction: row;
                            padding-top: 10px;
                        }

                        .appDownload{
                            display: flex;
                            flex-direction: column;
                        }

                        h3{
                            color: whitesmoke;
                            align-items: center;
                            justify-content: center;
                            font-size: 14px;
                            color: rgba(255, 255, 255, 0.80);
                            text-align: start;
                        }

                        .downloadIconImages{
                            width: 120px;
                            height: 40px;
                            padding-top: 20px;
                        }

                        .socialIcons{
                            display: flex;
                            flex-direction: column;
                            gap: 15px;

                            .row1{
                                display: flex;
                                flex-direction: row;
                                gap: 26px;

                                .iconStyle{
                                    width: 24px;
height: 24px;
                                }
                            }
                            
                            .row2{
                                display: flex;
                                flex-direction: row;
                                gap: 26px; 
                                .iconStyle{
                                    width: 24px;
height: 24px;
                                }
                            }
                        }

                        

                      
                    
                    
                    }

                   

                  

                
                }

               
            }

            .handContainer{
                .handImg{
                    width: 300px;
                    height: 530px;
                }
            }

        }
        }





    }
}

@media (min-width : 320px) and (max-width :760px){
    .footer{
        width: 100%;
        height: auto;

        padding: 0px 10px;
        flex-shrink: 0; 
        background-color: #392727;
        
        .footerContainer{
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: center;
            gap: 10px;
    
            .left{
                display: flex;
                gap : 10px;
                // flex: 0.5;
               
    
                .left-side{
                    display: flex;
                    flex-direction: column;
                    // flex: 0.3;
    
                    .leftsideContainer{
                        padding-left: 10px;
                        padding-top: 10px;
                        
                        
                        .quickLinks{
                            flex-direction: column;
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
    
                            padding-top: 10px;
                            padding-left: 10px;
    
                            h3{
                                color: var(--White, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
                            }
    
                           
    
                            .itemlist{
                                display: flex;
                                flex-direction: column;
                                text-align: start;
    
                                color: rgba(255, 255, 255, 0.80);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 257.143% */ 
    
                                &:hover{
                                    color: beige;
                                    cursor: pointer;
                                }
    
                            }
                        
                        }
    
                     
                    }
    
                }
                .right-side{
                    display: flex;
                    flex-direction: column;
                    // flex: 0.2;
    
                    .rightsideContainer{
                        padding-left: 10px;
                        padding-top: 10px;
                        
                        
                        .quickLinks1{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            padding-top: 10px;
                            padding-left: 10px;
    
                            h3{
                                color: var(--White, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
                            }
    
                         
    
                            .itemlist1{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                font-size: 14px;
                                color: rgba(255, 255, 255, 0.80);
                                text-align: start;
                                // margin-left: 50px;
    
                                width: 250px;
                                line-height: 36px;
                             
    
                               
    
                            }
                        
                        }
    
                      
                    }
                }
            }

            
            .right{
                display: flex;
                gap: 10px;
                // flex: 0.5;
                
                .main{
                    display: flex;
                    flex-direction: row;
                
                .left-side{
                    display: flex;
                    flex-direction: column;
                    
                    // background-color: #b73c1d;
    
                    .leftsideContainer{
                        padding-left: 20px;
                        padding-top: 10px;
                        
                        
                        .quickLinks2{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            padding-top: 20px;
                            padding-left: 10px;
                            // font-size: 0.9rem;
    
                            h3{
                                color: whitesmoke;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 700;
                                width: 120px;
                                line-height: 22px;
                            }
    
    
                            h4{
                                margin-top: 10px;
                                color: whitesmoke;
                                font-size: 14px;
                                width: 120px;
                                font-style: normal;
                                line-height: 22px;
    font-weight: 400
    
                                
                            }
    
                            .add{
                                padding-top: 10px;
                                text-align: start;
                                color: rgba(255, 255, 255, 0.80);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
                                line-height: 23px;
                            }
    
                            .contact{
                                padding-top: 15px;
                                font-size: 14px;
                                font-style: normal;
                                line-height: 23px;
                                font-weight: 400;
                                text-align: start;
                                color: whitesmoke;
                            }
    
                           
    
                            .itemlist{
                                display: flex;
                                flex-direction: column;
                                color: rgba(255, 255, 255, 0.80);
                                font-family: Poppins;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 36px; /* 257.143% */ 
    
                                &:hover{
                                    color: beige;
                                    cursor: pointer;
                                }
    
                            }
                        
                        }
    
                        // .divider{
                        //     padding-top: 50px;
                        //     padding-left: 70px;
                        //     height: 285px;
                        //     width: 25px;
                        // }
                    }
                }
    
                .right-side{
                    display: flex;
                    flex-direction: column;
    
                    .rightsideContainer{
                        display: flex;
                        flex-direction: row;
                        padding-left: 20px;
                        padding-top: 10px;
    
                        .quickLinks3{
                            padding-top: 20px;
                            padding-left: 40px;
    
                            .icons{
                                display: flex;
                                flex-direction: row;
                                padding-top: 10px;
                            }
    
                            .appDownload{
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                            }
    
                            h3{
                                color: whitesmoke;
                                align-items: center;
                                justify-content: center;
                                font-size: 14px;
                                color: rgba(255, 255, 255, 0.80);
                                text-align: start;
                            }
    
                            .downloadIconImages{
                                width: 120px;
                                height: 40px;
                                padding-top: 20px;
                            }
    
                            .socialIcons{
                                display: flex;
                                flex-direction: column;
                                gap: 15px;
                                

                               
    
                                .row1{
                                    display: flex;
                                    flex-direction: row;
                                    gap: 26px;
    
                                    .iconStyle{
                                        width: 24px;
    height: 24px;
                                    }
                                }
                                
                                .row2{
                                    display: flex;
                                    flex-direction: row;
                                    gap: 26px; 
                                    .iconStyle{
                                        width: 24px;
    height: 24px;
                                    }
                                }
                            }
    
                            
    
                          
                        
                        
                        }
    
                       
    
                      
    
                    
                    }
    
                   
                }
    
                .handContainer{
                    .handImg{
                        width: 300px;
                        height: 530px;
                    }
                }
    
            }
            }
    
    
    
    
    
        }
    }
    

}