.samajkalyaan{
    width: 100%;
    padding-top: 50px;
    margin: 0px 50px;
    padding-bottom: 80px;

    .samajkalyaanContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .samajkalyaanleft{
            display: flex;
            flex-direction: column;
            max-width: 700px;
            gap: 10px;

            .samajkalyaanTitle{
                color: var(--Black, #1C1818);
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
            }
        }
        .samajkalyaanright{
            padding-right: 100px;
            .boxesContainer1{
                display: flex;
                flex-direction: row;
                gap: 40px;
                padding-bottom: 30px;
                padding-top: 50px;
    
                .boxContainer1{
                    display: flex;
                    // flex: 0.3;
                    flex-direction: column;
                    // margin-top: 20px;
                    height: 525px;
                    width: 322px;
                    padding-bottom: 3px;
                    background-color: white;
                    // box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
                    margin-left: 30px ;
                    box-shadow: 0px 4px 4px 0px #0000001F;
    
                    // border: 1px solid gray;
                    
                    // background: red;
        
                    .top{
    
                        
                        width: 332px;
                        height: 180px;
                        border-radius: 0px, 0px, 100px, 0px;
    
                    
                        // padding: 5px 5px 5px;
        
                        .postImg{
                            // padding-top: 10px;
                            width: 100%;
                            clip-path: circle(78.5% at 32% 7%);
                            
    
                            // width: 100%;
                            height: 180px;
                        }
    
                        // .postImg:hover{
                        //     transform: scale(1.1);
                        // }
                        // background-color: aquamarine
                    };
                    .bottom{
                        width: 95%;
                        max-height: 290px;
                        height: 290px;
                        padding-left: 12px;
                        padding-right: 120px;
                        display: flex;
                        text-align: center;
                        flex-direction: column;
    
    
                        h4{
                            text-align: start;
                            font-size: 1.7rem;
                             padding-left: 12px;
    
                        }
    
                        
                        // background-color: bisque;
        
                        p{
                            text-align: justify;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 24px;
                            text-align: start;
                            
                        }
        
                        // .date-Share{
                        //     display: flex;
                        //     flex-direction: row;
                        //     align-items: start;
        
                        //     .share{
                        //         padding-left: 120px;
                        //         padding-top: 52px;
                        //         width: 15px;
                        //         height: 10px;
                        //     }
        
        
        
        
                        // }
                    }
                    // .tags{
                    //     padding-top: 50px;
                    //     margin-bottom: 10px;
                    //     display: flex;
                    //     flex-direction: row;
                    //     align-items: center;
                    //     justify-content: center;
                    //     gap: 17px;
                    //     // padding: 10px;
    
                    //     // p{
                    //     //     padding: 12px;
                    //     // }
    
    
                    // }
                }
    
    
            }
    
        }
    }
}